.QrSection{
  height: 150px;
  width: 350px;
  text-align: center;
}
.QrSection h5 {
  display: block;
  font-size: 0.83em;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}
.HeartContainer{
  display: block;
  padding-top: 58px;
  padding-bottom: 20px;
  transform: rotate(-45deg);
}
.Heart {
  background-color: red;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  width: 50px;
  animation: heartbeat 1s infinite;
}
.Heart:before,
.Heart:after {
  content: "";
  background-color: red;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.Heart:before {
  top: -25px;
  left: 0;
}

.Heart:after {
  left: 25px;
  top: 0;
}

@keyframes heartbeat {
  0% {
    transform: scale( 1 );
  }
  20% {
    transform: scale( 1.25 );
  }
  40% {
    transform: scale( 1.5 );
  }
}
